RestaurantReservation/Web References/WebService/ReservationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRestaurantName">
        <s:complexType />
      </s:element>
      <s:element name="GetRestaurantNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRestaurantNameResult" type="tns:ArrayOfRestaurantName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRestaurantName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RestaurantName" nillable="true" type="tns:RestaurantName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RestaurantName">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Resid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Resname" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookstart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookend" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="headcount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tableid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="confirmdate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBookingResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTableNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurantid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bookstart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookend" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="headcount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableNoResult" type="tns:ArrayOfTableNo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTableNo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TableNo" nillable="true" type="tns:TableNo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TableNo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TableNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tableid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurantid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bookstart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="bookend" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRestaurantNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetRestaurantName" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetRestaurantNameResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDetails" />
  </wsdl:message>
  <wsdl:message name="InsertDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBookingSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBooking" />
  </wsdl:message>
  <wsdl:message name="InsertBookingSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBookingResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableNo" />
  </wsdl:message>
  <wsdl:message name="GetTableNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableNoResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTimeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTime" />
  </wsdl:message>
  <wsdl:message name="CheckTimeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ReservationWebServiceSoap">
    <wsdl:operation name="GetRestaurantName">
      <wsdl:input message="tns:GetRestaurantNameSoapIn" />
      <wsdl:output message="tns:GetRestaurantNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDetails">
      <wsdl:input message="tns:InsertDetailsSoapIn" />
      <wsdl:output message="tns:InsertDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBooking">
      <wsdl:input message="tns:InsertBookingSoapIn" />
      <wsdl:output message="tns:InsertBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableNo">
      <wsdl:input message="tns:GetTableNoSoapIn" />
      <wsdl:output message="tns:GetTableNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <wsdl:input message="tns:CheckTimeSoapIn" />
      <wsdl:output message="tns:CheckTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationWebServiceSoap" type="tns:ReservationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRestaurantName">
      <soap:operation soapAction="http://tempuri.org/GetRestaurantName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetails">
      <soap:operation soapAction="http://tempuri.org/InsertDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBooking">
      <soap:operation soapAction="http://tempuri.org/InsertBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableNo">
      <soap:operation soapAction="http://tempuri.org/GetTableNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <soap:operation soapAction="http://tempuri.org/CheckTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReservationWebServiceSoap12" type="tns:ReservationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRestaurantName">
      <soap12:operation soapAction="http://tempuri.org/GetRestaurantName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetails">
      <soap12:operation soapAction="http://tempuri.org/InsertDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBooking">
      <soap12:operation soapAction="http://tempuri.org/InsertBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableNo">
      <soap12:operation soapAction="http://tempuri.org/GetTableNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <soap12:operation soapAction="http://tempuri.org/CheckTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationWebService">
    <wsdl:port name="ReservationWebServiceSoap" binding="tns:ReservationWebServiceSoap">
      <soap:address location="http://pbf93y1.sw.sherwin.com/ReservationWebService/ReservationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReservationWebServiceSoap12" binding="tns:ReservationWebServiceSoap12">
      <soap12:address location="http://pbf93y1.sw.sherwin.com/ReservationWebService/ReservationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>